html {
    font-size: 16px;
    background-color: #F3F8FC;
}

body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    font-family: "Monoton", cursive;
    font-weight: 400;
}

h2,h3,h4,h5,h6 {
    font-family: 'Nixie One', 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #F3F8FC;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

p {
    font-family: 'Libre Baskerville', 'Times New Roman', Times, serif;
    font-size: 1rem;
    line-height: 1.4;
    color: #F3F8FC;
}

strong {
    font-weight: bold;
}

main {
    padding-top: 4rem;
    width: 100%
    transition: width 400ms linear 50ms;
    margin: 0 auto;
    -webkit-box-shadow: 5px 5px 15px black;
            box-shadow: 5px 5px 15px black;
}

.title {
    margin-bottom: 2rem;
}


/* Tablet */

@media only screen and (max-width: 1200px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 950px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 810px) {
    html {
        font-size: 10px;
    }
}

/* Mobile */

@media only screen and (max-width: 650px) {
    html {
        font-size: 12px;
    }
}


/* Navigation Bar */

@media only screen and (max-width: 650px) {
    #mobile-nav {
        display: none;
    }

    #mobile-hidden {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

}

.nav-mobile {
    display: none;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.nav-mobile img {
    width: 2.5rem;
    padding: 0.5rem;
    transition: background-color 300ms linear 50ms;
}

.nav-mobile img:hover {
    background-color: rgba(103, 109, 114, 0.116);
    border-radius: 15px;
}

.nav-container {
    transition: width 400ms linear 50ms;
    width: 100%;
    position: fixed;
    top: 0;
    height: 4rem;
    opacity: 0.9;
    z-index: 5;
    background-color: #F3F8FC;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 2px 2px 8px black;
            box-shadow: 2px 2px 8px black;
}

.nav-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-left: 1.5rem;
}

.nav-left img {
    width: 3rem;
}

.nav-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 1.5rem;
}

.nav-right ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav-right li {
    margin-left: 1rem;
}

.nav-right li a {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    -webkit-transition: color 400ms linear 50ms;
    -o-transition: color 400ms linear 50ms;
    transition: color 400ms linear 50ms;
    border-right: 1px solid black;
    padding-right: 0.6rem;
    text-transform: uppercase;
}

.nav-right a:hover {
    color: #27658B;
    text-decoration: line-through;
}

.nav-right li a.active {
    border-bottom: 1px solid black;
}

/* Main Banner */

@media only screen and (max-width: 650px) {
    .banner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    #banner-mobile {
        width: 100%;
        padding: 0;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    #banner-mobile-text {
        width: 100%;
        padding: 2rem 1rem;
        margin: 0;
    }
    .hvr-buzz {
        width: 100% !important;
    }
    #banner-mobile-text h2 {
        line-height: 4rem;
    }
}

.banner {
    width: 100%;
    background-image: linear-gradient(to top left, #102736, #143245, #183d54, #1c4863, #205372, #245e81, #286990, #2c749f);  
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 2px solid white;
}

.banner-left {
    width: 60%;
    padding: 2rem 0 2rem 1.5rem;
}

.banner-left img {
    width: 100%;
}

.banner-right {
    width: 40%;
    padding-left: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.banner-text {
    text-align: left;
    color: #F3F8FC;
    width: 65%;
}

.hvr-buzz {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    color: #F3F8FC;
    padding: 1rem 4rem;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, #2b516d, #366689, #417ba5, #4785b3);  
    border: 1px solid #F3F8FC;
    -webkit-box-shadow: 2px 2px 10px #F3F8FC;
            box-shadow: 2px 2px 10px #F3F8FC; 
    -webkit-transition: background-color 500ms linear 50ms; 
    -o-transition: background-color 500ms linear 50ms; 
    transition: color 500ms linear 50ms;
}

.hvr-buzz:hover {
    color: #61907e;  
    cursor: pointer;
    text-decoration: line-through;
}

/* Section 1 */
/* LEFT */

@media only screen and (max-width: 650px) {
    .about-left {
        display: none;
    }
    #about-mobile {
        width: 100%;
        margin: 0;
        border: none;
    }
    .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 1rem 1rem 2rem 1rem;
        -webkit-box-align: start !important;
            -ms-flex-align: start !important;
                align-items: flex-start !important;
        margin-bottom: 1rem !important;
        border-radius: 0 !important;
    }
    .row-img {
        display: none;
    }
    #row-mobile {
        display: block;
        margin-bottom: 1rem;
    }
    #row-mobile img {
        width: 100%;
        border-radius: 5px;
    }
    #row-text {
        width: 100%;
    }
}

.row-mobile {
    display: none;
}

.about {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: linear-gradient(to bottom right, #2b516d, #366689, #417ba5, #4785b3);  
    border-bottom: 2px solid white;
}

.about-left {
    width: 60%;
    padding: 2rem 0 2rem 1.5rem;
}

.about-img-left img {
    width: 98.9%;
}

.about-text-left h3 {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.author {
    color: white;
    font-style: italic;
}

/* RIGHT */
.about-right {
    width: 40%;
    margin-left: 1.5rem;
    border-left: 1px solid #F3F8FC;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 2px 2px 10px rgb(0, 0, 0);
            box-shadow: 2px 2px 10px rgb(0, 0, 0);
    border-radius: 1.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

.about-right .row:last-child {
    background-image: linear-gradient(to bottom right, #314941, #39554b, #416155,#496d5f, #61907e);  
}

.about-right .row:hover {
    background-image: linear-gradient(to bottom right, #293632, #31413c, #394c46, #415750, #5a796f);  
    cursor: pointer;
}

.row-img {
    width: 35%;
    padding: 1rem;
}

.row-img img {
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.384);
}

.row-text {
    width: 65%;
}

.row-text p {
    padding: 0.5rem 0 0.5rem 0;
}

.row-text a {
    color: #F3F8FC; 
    -webkit-transition: color 500ms linear 50ms; 
    -o-transition: color 500ms linear 50ms; 
    transition: color 500ms linear 50ms;    
}

.row-text a:hover {
    color: #d9ff0096;
}

/* Arcticle, Learning Programs */

@media only screen and (max-width: 650px) {
    .title  {
        width: 100% !important;
        text-align: center;
        padding-top: 2rem;
    }
    .learning-programs {
        display: none !important;
    }
    #hidden-article {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0 1rem 2rem 1rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    } 
}

.hidden-article {
    display: none;
    background-image: linear-gradient(to bottom right, #102736, #143245, #183d54, #1c4863, #205372, #245e81, #286990, #2c749f, #307fae, #348abd);
    border-bottom: 2px solid white;
}

.boxes-mobile {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.box1 {
    width: 100%;
    margin-bottom: 0.5rem;
    -webkit-box-shadow: 2px 2px 10px black;
            box-shadow: 2px 2px 10px black;
}

.boxes-mobile .box1 h4:hover {
    background-image: linear-gradient(to bottom right, #293632, #31413c, #394c46, #415750, #5a796f);  
    cursor: pointer;
}

.box1 h4 {
    padding: 1rem 5rem 1.5rem 1rem;
    background-image: linear-gradient(to bottom right, #314941, #39554b, #416155,#496d5f, #61907e);  
    font-size: 1.6rem;
}

.learning-programs {
    border-bottom: 2px solid white;
    background-image: linear-gradient(to bottom right, #102736, #143245, #183d54, #1c4863, #205372, #245e81, #286990, #2c749f, #307fae, #348abd);
    padding: 2rem 4.5rem 0 4.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.boxes-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.box {
    width: 32%;
    margin-bottom: 2rem;
    background-image: linear-gradient(to bottom right, #314941, #39554b, #416155,#496d5f, #61907e);  
    border-radius: 10px;
    -webkit-box-shadow: 8px 8px 10px black;
            box-shadow: 8px 8px 10px black;;
}

.box:hover {
    background-image: linear-gradient(to bottom right, #293632, #31413c, #394c46, #415750, #5a796f);  
    cursor: pointer;
}

.box-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.box-text {
    padding: 1rem 1rem 1.5rem 1rem;
}

.box-text p {
    padding: 0.5rem 0;
}

.courses  {
    color: white;
    font-family: 'Libre Baskerville', 'Times New Roman', Times, serif;
}

/* Section 2, Thesis */

@media only screen and (max-width: 650px) {
    .thesis {
        padding: 0 0 1.5rem 0 !important;
    }
    .thesis-right {
        display: none;
    }
    .thesis-left {
        width: 100% !important;
    }
    .thesis-text-left {
        display: none;
    }
    #vid-mobile video {
        width: 100%;    
    }
}


.thesis {
    background-image: linear-gradient(to bottom right, #2b516d, #366689, #417ba5, #4785b3);  
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem 0 2rem 1.5rem;
}

.thesis-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
/* LEFT */
.thesis-left {
    width: 60%;
}

.vid video {
    width: 100%;
}

.thesis-text-left {
    padding-top: 1.5rem;
}

.thesis-text-left h3 {
    margin-bottom: 0.5rem;
}
/* RIGHT */
.thesis-right {
    width: 40%;
    padding-right: 0.5rem;
    margin-left: 1.5rem;
}

.thesis-right .row:first-child {
    background-image: linear-gradient(to bottom right, #314941, #39554b, #416155,#496d5f, #61907e);  
}

.thesis-right .row:hover {
    background-image: linear-gradient(to bottom right, #293632, #31413c, #394c46, #415750, #5a796f);  
    cursor: pointer;
}


/* Footer */
@media only screen and (max-width: 650px) {
    #footer-text {
        height: auto;
        padding: 1rem 0;
        text-align: center;
    }
    .footer-right {
        display: none;
    }
    .footer-left {
        padding: 0 !important;
    }
}

.footer-text {
    width: 100%;
    height: 3rem;
    padding-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #F3F8FC;
}

.footer-left {
    padding-left: 1.5rem;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.footer-right {
    padding-right: 1rem;
}

.footer-right ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-right ul li {
    margin-left: 1rem;
}

.footer-right ul li a {
    color: black;
    -webkit-transition: color 300ms linear 50ms;
    -o-transition: color 300ms linear 50ms;
    transition: color 300ms linear 50ms;
}

.footer-right a:hover {
    color: #102736
}


/* Buzz   NOT made by me! */
@-webkit-keyframes hvr-buzz {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
  }
  @keyframes hvr-buzz {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
  }
  .hvr-buzz {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }


  